<div class="center_content">
    <div class="center_title_bar">Contact Us</div>
    <div class="prod_box_big">
        <div class="top_prod_box_big"></div>
        <div class="center_prod_box_big">
            <div class="contact_form">
                <div class="form_row">
                    <label class="contact"><strong>Ad:</strong></label>
                    <input type="text" class="contact_input" ng-model="iletisim.Ad" />
                </div>
                <div class="form_row">
                    <label class="contact"><strong>Soyad:</strong></label>
                    <input type="text" class="contact_input" ng-model="iletisim.Soyad" />
                </div>
                <div class="form_row">
                    <label class="contact"><strong>Telefon:</strong></label>
                    <input type="text" class="contact_input" ng-model="iletisim.Telefon" />
                </div>
                <div class="form_row">
                    <label class="contact"><strong>Sirket:</strong></label>
                    <input type="text" class="contact_input" ng-model="iletisim.Sirket" />
                </div>
                <div class="form_row">
                    <label class="contact"><strong>Mesaj:</strong></label>
                    <input type="text" class="contact_input" ng-model="iletisim.Mesaj" />
                </div>
                <div class="form_row"> <button ng-click="IletisimEkleFunction();">Gonder</button> </div>
            </div>
        </div>
        <div class="bottom_prod_box_big"></div>
    </div>
</div>