<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>KATEGORİ YONETIM</h2>
                <span flex></span>
                <md-button class="md-icon-button">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <div class="md-dialog-content">
                <div class="prod_box_big">
                    <div class="top_prod_box_big"></div>
                    <div class="center_prod_box_big">
                        <div class="contact_form">
                            <div class="form_row">
                                <label class="contact"><strong>Kategori Adı:</strong></label>
                                <input type="text" class="contact_input" ng-model="kategori.KategoriAdi" />
                            </div>
                            <div class="form_row">
                                <button ng-click="KategoriEkleGuncelleFunction();">{{KategoribtnText}}</button>
                                <button ng-click="iptal();">İptal</button>
                            </div>
                        </div>
                    </div>
                    <div class="bottom_prod_box_big"></div>
                </div>
            </div>
            <div>
                <table width="100%" border="1" class="table-layout">
                    <thead>
                        <tr>
                            <td>Index</td>
                            <td>Kategori Adı</td>
                            <td>Sil</td>
                            <td>Guncelle</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="item in Kategoriler">
                            <td>{{$index}}</td>
                            <td>{{item.KategoriAdi}}</td>
                            <td><button ng-click="KategoriSilFunction($index,item.TabloID)">Sil</button></td>
                            <td><button ng-click="KategoriGucelleItem(item.TabloID)">Güncelle</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="hide()">
                KAPAT
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>